# Extract data using Web Scraping

In [1]:
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01'

In [3]:
data = requests.get(url)

In [4]:
data.text[101:124]

'List of largest banks -'

In [8]:
import bs4
import html5lib

In [12]:
soup = bs4.BeautifulSoup(data.text,"html5lib")

In [13]:
tables = soup.find_all('table')

In [14]:
table  = tables[4]

In [15]:
table_head = [d.text.strip() for d in table.find_all('th')]

In [16]:
lst_comb = [d.text.strip() for d in table.find_all('tr')]

In [17]:
list_finish = [d.split('\n\n') for d in lst_comb]

In [18]:
list_finish

[['Rank', 'Bank name', 'Market cap(US$ billion)'],
 ['1', ' JPMorgan Chase', '368.78'],
 ['2', ' Industrial and Commercial Bank of China', '295.65'],
 ['3', ' Bank of America', '279.73'],
 ['4', ' Wells Fargo', '214.34'],
 ['5', ' China Construction Bank', '207.98'],
 ['6', ' Agricultural Bank of China', '181.49'],
 ['7', ' HSBC Holdings PLC', '169.47'],
 ['8', ' Citigroup Inc.', '163.58'],
 ['9', ' Bank of China', '151.15'],
 ['10', ' China Merchants Bank', '133.37'],
 ['11', ' Royal Bank of Canada', '113.80'],
 ['12', ' Toronto-Dominion Bank', '106.61'],
 ['13', ' HDFC Bank', '105.9'],
 ['14', ' Commonwealth Bank', '99.77'],
 ['15', ' U.S. Bancorp', '84.40'],
 ['16', ' Goldman Sachs', '78.70'],
 ['17', ' Banco Santander', '75.47'],
 ['18', ' Morgan Stanley', '73.93'],
 ['19', ' Westpac', '67.84'],
 ['20', ' Mitsubishi UFJ Financial Group', '66.20'],
 ['21', ' Scotiabank', '65.48'],
 ['22', ' PNC Financial Services', '63.11'],
 ['23', ' Bank of Communications', '61.85'],
 ['24', ' BNP Paribas', '59.36'],
 ['25', ' Banco Itaú', '56.06'],
 ['26', ' Australia and New Zealand Banking Group', '54.88'],
 ['27', ' National Australia Bank', '51.68'],
 ['28', ' Lloyds Banking Group', '51.19'],
 ['29', ' Sumitomo Mitsui Financial Group', '49.85'],
 ['30', ' Bank of Montreal', '48.12'],
 ['31', ' UBS', '45.92'],
 ['32', ' ING Group', '44.97'],
 ['33', ' Capital One', '43.22'],
 ['34', ' The Bank of New York Mellon', '42.58'],
 ['35', ' China Minsheng Bank', '39.13'],
 ['36', ' Banco Bradesco', '38.93'],
 ['37', ' China CITIC Bank', '38.55'],
 ['38', ' Banco Bilbao Vizcaya Argentaria', '37.42'],
 ['39', ' Mizuho Financial Group', '36.95'],
 ['40', ' Intesa Sanpaolo', '36.90'],
 ['41', ' Crédit Agricole', '34.89'],
 ['42', ' Canadian Imperial Bank of Commerce', '34.87'],
 ['43', ' Royal Bank of Scotland', '33.95'],
 ['44', ' Barclays', '33.26'],
 ['45', ' Credit Suisse', '30.75'],
 ['46', ' Nordea', '29.59'],
 ['47', ' Standard Chartered', '29.37'],
 ['48', ' KBC Bank', '27.40'],
 ['49', ' UniCredit', '26.88'],
 ['50', ' Banco do Brasil', '23.35']]

In [20]:
import json

In [21]:
json_obj = json.dumps(list_finish,indent=4)

In [22]:
with open("mar_cap.json","w") as outfile:
    outfile.write(json_obj)

In [23]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01'

In [24]:
import pandas as pd

In [25]:
import lxml

In [54]:
html_table= pd.read_html(url)
html_table

[    0                                                  1
 0 NaN  This article possibly contains inappropriate o...,
     0                                                  1
 0 NaN  This article is missing information about Reve...,
     Rank                                        Bank name  \
 0      1  Industrial and Commercial Bank of China Limited
 1      2                          China Construction Bank
 2      3                       Agricultural Bank of China
 3      4                                    Bank of China
 4      5                                   JPMorgan Chase
 ..   ...                                              ...
 95    96                                         BayernLB
 96    97                              Qatar National Bank
 97    98                              China Zheshang Bank
 98    99                                         Swedbank
 99   100                                Raiffeisen Gruppe

    Total assets (2021) (US$ billion)
 0                            5866.00
 1                            4532.05
 2                            4354.56
 3                            4113.36
 4                        3,773.88[4]
 ..                               ...
 95                            266.27
 96                            259.48
 97                            258.63
 98                            257.79
 99                            256.43

 [100 rows x 3 columns],
     Rank         Country  Number
 0      1           China    19.0
 1      2   United States    12.0
 2      3           Japan     8.0
 3      4  United Kingdom     6.0
 4      4          France     6.0
 5      4     South Korea     6.0
 6      5          Canada     5.0
 7      5         Germany     5.0
 8      6       Australia     4.0
 9      6          Brazil     4.0
 10     7     Netherlands     3.0
 11     7       Singapore     3.0
 12     7           Spain     3.0
 13     7          Sweden     3.0
 14     7     Switzerland     3.0
 15     8           Italy     2.0
 16     9           India     1.0
 17     9         Austria     1.0
 18     9         Belgium     1.0
 19     9         Denmark     1.0
 20     9         Finland     1.0
 21     9          Norway     1.0
 22     9          Russia     1.0
 23     9           Qatar     1.0
 24     9             NaN     NaN
 25     9             NaN     NaN,
     Rank                                Bank name  Market cap (US$ billion)
 0      1                           JPMorgan Chase                    368.78
 1      2  Industrial and Commercial Bank of China                    295.65
 2      3                          Bank of America                    279.73
 3      4                              Wells Fargo                    214.34
 4      5                  China Construction Bank                    207.98
 5      6               Agricultural Bank of China                    181.49
 6      7                        HSBC Holdings PLC                    169.47
 7      8                           Citigroup Inc.                    163.58
 8      9                            Bank of China                    151.15
 9     10                     China Merchants Bank                    133.37
 10    11                     Royal Bank of Canada                    113.80
 11    12                    Toronto-Dominion Bank                    106.61
 12    13                                HDFC Bank                    105.90
 13    14                        Commonwealth Bank                     99.77
 14    15                             U.S. Bancorp                     84.40
 15    16                            Goldman Sachs                     78.70
 16    17                          Banco Santander                     75.47
 17    18                           Morgan Stanley                     73.93
 18    19                                  Westpac                     67.84
 19    20           Mitsubishi UFJ Financial Group                     66.20
 20    21                               Scotiabank                     65.48
 21    22                   PNC Financial Services                     63.11
 22    23                   Bank of Communications                     61.85
 23    24                              BNP Paribas                     59.36
 24    25                               Banco Itaú                     56.06
 25    26  Australia and New Zealand Banking Group                     54.88
 26    27                  National Australia Bank                     51.68
 27    28                     Lloyds Banking Group                     51.19
 28    29          Sumitomo Mitsui Financial Group                     49.85
 29    30                         Bank of Montreal                     48.12
 30    31                                      UBS                     45.92
 31    32                                ING Group                     44.97
 32    33                              Capital One                     43.22
 33    34              The Bank of New York Mellon                     42.58
 34    35                      China Minsheng Bank                     39.13
 35    36                           Banco Bradesco                     38.93
 36    37                         China CITIC Bank                     38.55
 37    38          Banco Bilbao Vizcaya Argentaria                     37.42
 38    39                   Mizuho Financial Group                     36.95
 39    40                          Intesa Sanpaolo                     36.90
 40    41                          Crédit Agricole                     34.89
 41    42       Canadian Imperial Bank of Commerce                     34.87
 42    43                   Royal Bank of Scotland                     33.95
 43    44                                 Barclays                     33.26
 44    45                            Credit Suisse                     30.75
 45    46                                   Nordea                     29.59
 46    47                       Standard Chartered                     29.37
 47    48                                 KBC Bank                     27.40
 48    49                                UniCredit                     26.88
 49    50                          Banco do Brasil                     23.35]

In [56]:
html = df[4:5]
html

Empty DataFrame
Columns: [0]
Index: []

In [50]:
df = pd.DataFrame(html_table)

In [51]:
df

                                                   0
4      Rank                                Bank n...

# API Extraction

In [5]:
import requests

In [6]:
res = requests.get('https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=H38Inn1H92984fNKc9WmC19tX7OQ7KtY')
res.status_code

200

In [7]:
data = res.json()
data

{'success': True,
 'timestamp': 1668507242,
 'base': 'EUR',
 'date': '2022-11-15',
 'rates': {'AED': 3.821048,
  'AFN': 91.749024,
  'ALL': 117.946111,
  'AMD': 410.337318,
  'ANG': 1.868716,
  'AOA': 517.183158,
  'ARS': 168.282562,
  'AUD': 1.539027,
  'AWG': 1.872542,
  'AZN': 1.770096,
  'BAM': 1.971906,
  'BBD': 2.093659,
  'BDT': 106.060174,
  'BGN': 1.955782,
  'BHD': 0.392138,
  'BIF': 2145.409228,
  'BMD': 1.040301,
  'BND': 1.426717,
  'BOB': 7.164712,
  'BRL': 5.547618,
  'BSD': 1.036893,
  'BTC': 6.2024914e-05,
  'BTN': 84.238766,
  'BWP': 13.466334,
  'BYN': 2.618712,
  'BYR': 20389.904208,
  'BZD': 2.090131,
  'CAD': 1.380899,
  'CDF': 2131.577216,
  'CHF': 0.978461,
  'CLF': 0.0336,
  'CLP': 927.115933,
  'CNY': 7.323828,
  'COP': 4998.969928,
  'CRC': 631.870917,
  'CUC': 1.040301,
  'CUP': 27.567983,
  'CVE': 111.171344,
  'CZK': 24.302009,
  'DJF': 184.59291,
  'DKK': 7.438654,
  'DOP': 56.284385,
  'DZD': 144.247115,
  'EGP': 25.437761,
  'ERN': 15.604519,
  'ETB': 55.371719,
  'EUR': 1,
  'FJD': 2.3103,
  'FKP': 0.887487,
  'GBP': 0.879387,
  'GEL': 2.811725,
  'GGP': 0.887487,
  'GHS': 15.034471,
  'GIP': 0.887487,
  'GMD': 63.822606,
  'GNF': 8933.6495,
  'GTQ': 8.108243,
  'GYD': 216.928547,
  'HKD': 8.138698,
  'HNL': 25.625766,
  'HRK': 7.547488,
  'HTG': 140.336328,
  'HUF': 405.735164,
  'IDR': 16175.071739,
  'ILS': 3.565955,
  'IMP': 0.887487,
  'INR': 84.376229,
  'IQD': 1513.341418,
  'IRR': 44108.772207,
  'ISK': 150.885042,
  'JEP': 0.887487,
  'JMD': 159.301152,
  'JOD': 0.737576,
  'JPY': 144.908786,
  'KES': 126.804802,
  'KGS': 87.78239,
  'KHR': 4288.519415,
  'KMF': 499.188952,
  'KPW': 936.25268,
  'KRW': 1364.880466,
  'KWD': 0.320194,
  'KYD': 0.863935,
  'KZT': 478.270678,
  'LAK': 17932.428154,
  'LBP': 1567.718772,
  'LKR': 378.980915,
  'LRD': 159.984816,
  'LSL': 17.993278,
  'LTL': 3.071739,
  'LVL': 0.629268,
  'LYD': 5.167528,
  'MAD': 11.142642,
  'MDL': 19.882271,
  'MGA': 4450.176105,
  'MKD': 62.121456,
  'MMK': 2177.486761,
  'MNT': 3543.043196,
  'MOP': 8.369737,
  'MRO': 371.387362,
  'MUR': 45.574435,
  'MVR': 16.030944,
  'MWK': 1065.014786,
  'MXN': 20.140472,
  'MYR': 4.720368,
  'MZN': 66.40273,
  'NAD': 18.000379,
  'NGN': 459.115998,
  'NIO': 37.325971,
  'NOK': 10.34964,
  'NPR': 134.792638,
  'NZD': 1.691613,
  'OMR': 0.400039,
  'PAB': 1.036853,
  'PEN': 3.999406,
  'PGK': 3.654634,
  'PHP': 59.523437,
  'PKR': 229.802642,
  'PLN': 4.704035,
  'PYG': 7296.299957,
  'QAR': 3.787781,
  'RON': 4.903251,
  'RSD': 117.236698,
  'RUB': 62.745743,
  'RWF': 1108.940114,
  'SAR': 3.910099,
  'SBD': 8.555253,
  'SCR': 13.382858,
  'SDG': 592.449962,
  'SEK': 10.807949,
  'SGD': 1.42296,
  'SHP': 1.432909,
  'SLE': 18.610608,
  'SLL': 18595.384888,
  'SOS': 591.931551,
  'SRD': 31.307856,
  'STD': 21532.135207,
  'SVC': 9.073233,
  'SYP': 2613.193359,
  'SZL': 17.99346,
  'THB': 37.003748,
  'TJS': 10.420404,
  'TMT': 3.641054,
  'TND': 3.343268,
  'TOP': 2.467958,
  'TRY': 19.359384,
  'TTD': 7.034249,
  'TWD': 32.303741,
  'TZS': 2425.982112,
  'UAH': 38.294729,
  'UGX': 3893.441957,
  'USD': 1.040301,
  'UYU': 41.550751,
  'UZS': 11602.89497,
  'VEF': 964863.421379,
  'VND': 25773.4631,
  'VUV': 124.506536,
  'WST': 2.85485,
  'XAF': 661.390424,
  'XAG': 0.047373,
  'XAU': 0.000586,
  'XCD': 2.811466,
  'XDR': 0.7921,
  'XOF': 661.374399,
  'XPF': 121.350978,
  'YER': 260.335379,
  'ZAR': 17.879845,
  'ZMK': 9363.963399,
  'ZMW': 17.041471,
  'ZWL': 334.976573}}

In [47]:
#Get the value of INR

data['rates']['INR']

83.668695

In [90]:
import pandas as pd

In [101]:
df = pd.DataFrame(data)

In [103]:
curr_rates = df['rates']

In [93]:
#Get the total row count

curr_rates.count()

169

In [99]:
curr_rates.to_csv('exchange_rates_1.csv',index_label='Currency_Name')

In [ ]:
***********************************

In [31]:
import pandas as pd

In [40]:
df=pd.read_json('bank_market_cap_1.json',lines=True)

In [41]:
df

,Name,Market Cap (US$ Billion)
0,"{'0': 'JPMorgan Chase', '1': 'Industrial and C...","{'0': '390.934', '1': '345.214', '2': '325.331..."

In [38]:
df.keys()

Index(['Name', 'Market Cap (US$ Billion)'], dtype='object')

In [39]:
df.

TypeError: 'numpy.ndarray' object is not callable

In [45]:
df = pd.read_csv('C:\\Users\\RajanSundaram\\Desktop\\Python Project\\exchange_rates.csv')

TypeError: read_csv() got an unexpected keyword argument 'columns'

In [43]:
df

   Unnamed: 0         Rates
0         AUD      1.297088
1         BGN      1.608653
2         BRL      5.409196
3         CAD      1.271426
4         CHF      0.886083
5         CNY      6.483139
6         CZK     21.510117
7         DKK      6.119757
8         EUR      0.822504
9         GBP      0.732398
10        HKD      7.752509
11        HRK      6.222652
12        HUF    294.135549
13        IDR  14097.902616
14        ILS      3.281132
15        INR     73.011186
16        ISK    129.133081
17        JPY    103.791742
18        KRW   1105.839776
19        MXN     19.932966
20        MYR      4.043017
21        NOK      8.497121
22        NZD      1.393733
23        PHP     48.070406
24        PLN      3.732933
25        RON      4.008883
26        RUB     74.930827
27        SEK      8.292071
28        SGD      1.328261
29        THB     30.009870
30        TRY      7.418572
31        USD      1.000000
32        ZAR     15.118441

In [44]:
df.keys()

Index(['Unnamed: 0', 'Rates'], dtype='object')